h1 {
  color: #CD853F;
  font size: 50px;
  font-family: 'Heebo', sans-serif;
  background-color: #FFD700;
}
body {
  color: #CD853F;
  font-size: 20px;
  font-family: 'Heebo', sans-serif;
  background-color: #FFD700;
}
