h1 {
  color: #1F8014;
  font size: 20px;
  font-family: 'Poppins', sans-serif;
  background-color: #CFD5E8;
}
body {
  color: #1F8014;
  font-size: 20px;
  background-color: #CFD5E8;
}
.black{color: black}
div {
  border: dotted;
  border-color: black;
}
cursor {

}
